body {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

/* Bootstrap styles */
@media (min-width: 1200px) {
  .container {
    max-width: 998px;
  }
}

.dropdown-menu {
  border: none;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  text-decoration: none;
}

.jumbotron {
  padding-top: 2rem;
}

.card {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.card:hover {
  cursor: pointer;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(243, 150, 154, 1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(243, 150, 154, 1);
  box-shadow: 0px 0px 5px 2px rgba(243, 150, 154, 1);
}


/* components/Header */

.cart-icon {
  color: rgba(255, 255, 255, .6);
  padding: .25rem .75rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: .4rem;
  font-size: 1.8rem;
}

.cart-icon:hover {
  cursor: pointer;
  color: white
}

.cart-icon:focus {
  color: white;
}

@media (min-width: 768px) {
  .cart-icon {
    position: fixed;
    top: 0.5rem;
    right: 5.5rem;
  }
}

@media (min-width: 1199px) {
  .cart-icon {
    right: 15rem;
  }
}


/* Layout Content */
.content {
  margin-top: 4rem;
  min-height: calc(100vh - 11rem);

}

/* components/Footer */
.footer {
  height: 5rem;
  background-color: var(--primary);
  color: white;
  text-align: center;
  margin-top: 2rem;
}




/* Slick carousel */
.slick-prev:before,
.slick-next:before {
  font-size: 1.5rem !important;
  color: var(--secondary) !important;
  z-index: 5 !important;
}


.slick-active button::before {
  color: var(--secondary) !important;
}

/* Admin */

/* Admin Header */
.menu-side {
  position: fixed;
  top: 50px;
  left: 0;
  background-color: var(--primary);
  min-width: 25%;
  height: calc(100vh);
}


/* AddItem */
.icon-success {
  color: var(--success);
}

/* Admin Footer */
.footer-admin {
  background-color: var(--info);
}