body {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

.dropdown-menu a:hover {
  color: white;
  text-decoration: none;
}

/* Layout Content */
.content {
  margin-top: 4rem;
  min-height: calc(100vh - 11rem);
}

/* components/Footer */
.footer {
  height: 5rem;
  background-color: var(--primary);
  color: white;
  text-align: center;
  margin-top: 2rem;
}



/* Slick carousel */
.slick-prev:before,
.slick-next:before {
  font-size: 1.5rem !important;
  color: var(--secondary) !important;
  z-index: 5 !important;
}


.slick-active button::before {
  color: var(--secondary) !important;
}